# Generar un nuevo schema en la instancia local de MySQL que tengo instalada en mi laptop
    schema = shelter
    host = 127.0.0.1
    port = 3306

CREATE TABLE `shelter`.`train` (
  `AnimalID` VARCHAR(255) NULL,
  `Name` VARCHAR(255) NULL,
  `DateTime` VARCHAR(255) NULL,
  `OutcomeType` VARCHAR(255) NULL,
  `OutcomeSubtype` VARCHAR(255) NULL,
  `AnimalType` VARCHAR(255) NULL,
  `SexuponOutcome` VARCHAR(255) NULL,
  `AgeuponOutcome` VARCHAR(255) NULL,
  `Breed` VARCHAR(255) NULL,
  `Color` VARCHAR(255) NULL);

mysql> LOAD DATA LOCAL INFILE 'train.csv' INTO TABLE shelter.train FIELDS TERMINATED BY ',' ENCLOSED BY '' LINES TERMINATED BY '\n';
Query OK, 26730 rows affected (2.16 sec)
Records: 26730  Deleted: 0  Skipped: 0  Warnings: 0

CREATE TABLE `shelter`.`test` (
  `ID` INT(11) NULL,
  `Name` VARCHAR(255) NULL,
  `DateTime` VARCHAR(255) NULL,
  `AnimalType` VARCHAR(255) NULL,
  `SexuponOutcome` VARCHAR(255) NULL,
  `AgeuponOutcome` VARCHAR(255) NULL,
  `Breed` VARCHAR(255) NULL,
  `Color` VARCHAR(255) NULL);

mysql> LOAD DATA LOCAL INFILE 'test.csv' INTO TABLE shelter.test FIELDS TERMINATED BY ',' ENCLOSED BY '' LINES TERMINATED BY '\n';
Query OK, 11457 rows affected, 1 warning (1.69 sec)
Records: 11457  Deleted: 0  Skipped: 0  Warnings: 1

CREATE TABLE `shelter`.`sample_submission` (
  `ID` INT(11) NULL,
  `Adoption` INT(11) NULL,
  `Died` INT(11) NULL,
  `Euthanasia` INT(11) NULL,
  `Return_to_owner` INT(11) NULL,
  `Transfer` INT(11) NULL);

mysql> LOAD DATA LOCAL INFILE 'sample_submission.csv' INTO TABLE shelter.sample_submission FIELDS TERMINATED BY ',' ENCLOSED BY '' LINES TERMINATED BY '\n';
Query OK, 11457 rows affected, 6 warnings (1.44 sec)
Records: 11457  Deleted: 0  Skipped: 0  Warnings: 6

In [14]:
from sqlalchemy import create_engine
import pymysql
engine = create_engine('mysql+pymysql://shelteruser:pass@localhost/shelter', echo=True)
cnx = engine.connect()
x = cnx.execute("SELECT * FROM test")
print(x)

2016-07-23 15:03:18,152 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2016-07-23 15:03:18,154 INFO sqlalchemy.engine.base.Engine ()
2016-07-23 15:03:18,445 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2016-07-23 15:03:18,446 INFO sqlalchemy.engine.base.Engine ()
2016-07-23 15:03:18,463 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8' and `Collation` = 'utf8_bin'
2016-07-23 15:03:18,469 INFO sqlalchemy.engine.base.Engine ()
2016-07-23 15:03:18,501 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2016-07-23 15:03:18,502 INFO sqlalchemy.engine.base.Engine ()
2016-07-23 15:03:18,525 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2016-07-23 15:03:18,530 INFO sqlalchemy.engine.base.Engine ()
2016-07-23 15:03:18,534 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8) COLLATE utf8_bin AS anon_1
2016-07-23 15:03:18,535 INFO sqlalchemy.engine.base.Engine ()
2016-07-23 15:03:18,560 INFO sqlalchemy.engine.base.Engine SELECT * FROM test
2016-07-23 15:03:18,565 INFO sqlalchemy.engine.base.Engine ()
<sqlalchemy.engine.result.ResultProxy object at 0x000000A42C9DA048>